

#amplify
audio-processing-frontend/amplify/\#current-cloud-backend
audio-processing-frontend/amplify/.config/local-*
audio-processing-frontend/amplify/mock-data
audio-processing-frontend/amplify/backend/amplify-meta.json
audio-processing-frontend/amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig